* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-size:16px;
	background: black;
}
canvas {
	position: absolute;
	left: 0;
	top: 0;
	background: white;
}
.game {
	position: relative;
}

.leaderboard {
	font-family: consolas;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	justify-content: baseline;
	align-items: center;
	flex-direction: column;
	background: rgb(33, 102, 186);
}


.leaderboard-score {
	position: absolute;
	left: 50vw;
	transform: translateX(-50%);
}

.leaderboard-div {
	margin: 5px;
	background-color: rgb(98, 41, 145);
	cursor: pointer;
	padding: 10px;
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leaderboard-div:hover {
	background-color: rgb(134, 55, 198);
}

.hidden {
	display: none !important;
}